/* General Styles */
body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
    color: #444;
}

/* Navbar Styles */
#navbar {
    background-color: #4a90e2; /* Navbar background color */
    padding: 15px; /* Padding for the navbar */
    text-align: center;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Make sure it spans the full width */
    z-index: 1000; /* Ensure it stays above other content */
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-link {
    color: #ffffff; /* Link color */
    text-decoration: none;
    margin: 0 20px; /* Margin between links */
    font-weight: bold;
    font-size: 1.1em; /* Font size for links */
}

.nav-link:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Add padding to the body to prevent content from being hidden behind the fixed navbar */
body {
    padding-top: 70px; /* Adjust this value based on the height of your navbar */
}

/* Welcome Section */
#welcome-section {
    text-align: center;
    padding: 100px 30px; /* Increased padding */
    background-color: #ffffff; /* Background color */
}

.profile-image {
    border-radius: 50%; /* Circular profile image */
    width: 160px; /* Width of the image */
    height: 160px; /* Height of the image */
    border: 4px solid #4a90e2; /* Border color */
}

/* Projects Section */
#projects {
    padding: 100px 30px; /* Increased padding */
    background-color: #f7f9fa; /* Background color */
}

.project-tile {
    display: block;
    margin: 25px 0; /* Margin between project tiles */
    text-align: center;
    text-decoration: none;
    color: #4a90e2; /* Project tile link color */
}

.project-tile img {
    width: 100%; /* Responsive image */
    max
